
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

body{
    background: #fff6d1;
}
.row{
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.input-box{
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.input-field{
    grid-gap: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 2rem;
    color: #000;
    font-weight: 400;
}
 .submit{
    width: 40%;
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
 }
.submit:hover{
    background: #5B4737;
    color: #fff;
 }
a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
} 
a:hover{
    text-decoration: underline;
    color: #000;
}
.form-control{
    background-color: #fff;
    border-radius: 10px;
}
.form-select{
    background-color: #fff;
    border-radius: 10px;
}
.rating{
    
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: #ffec63;
    
}
.rating .far{
    cursor: pointer;
}
.rating :hover{
    transform: scale(1.1);
}
p{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}
.invalid-feedback{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}
.gotop
{
	position: fixed;
	bottom: 5px;
	right:10px;
	z-index:100;	
}